html,body{
  margin: 0!important;
  padding: 0!important;
}

body{
  background-color: mistyrose;
}

.cursor-pointer{
  cursor: pointer;
}
.bg-indigo{
  background-color:#670aab !important;
}
.btn-indigo{
  background-color:#670aab !important;
  color:white;
}

.btn-indigo:hover{
  background-color:#7f1ac9 !important;
  color:white;
}
.form-check-input:checked {
    background-color: #670aab;
    border-color: #670aab;
}
.btn-outline-indigo{
  background-color:white !important;
  color:#670aab;
  border:1px solid #670aab
}
.btn-outline-indigo:hover{
  background-color:#670aab !important;
  color:white;
}